<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="gui" default="true"/>
  <arg name="recording" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="physics" default="ode"/>
  <arg name="verbose" default="false"/>
  <arg name="respawn_gazebo" default="false"/>
  <arg name="use_clock_frequency" default="false"/>
  <arg name="pub_clock_frequency" default="100"/>
  <arg name="px4_model" default="typhoon_h480"/>
  <arg name="mavros" default="false"/>

  <arg name="world_name" default="worlds/mcmillan.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->

  <include file="$(find sitl_launcher)/launch/sitl.launch" pass_all_args="true">
    <arg name="px4_set_home" value="true"/>
    <arg name="px4_home_lat" default="35.7222542"/>
    <arg name="px4_home_lon" default="-120.7665102"/>
    <arg name="px4_home_alt" default="280"/>  
  </include>

      <!-- <arg name="px4_home_lat" default="35.7197096"/>
    <arg name="px4_home_lon" default="-120.7707523"/> -->

<node name="drone" pkg="sitl_launcher" type="launch_drone" args="$(arg px4_model)" output="screen"/>

<include file="$(find sitl_launcher)/launch/run_px4.launch">
  <arg name="px4_model" value="$(arg px4_model)"/>
    <arg name="mavros" value="$(arg mavros)"/>
    </include>

 <node name="qgc" pkg="qgroundcontrol" type="qgroundcontrol-start.sh" respawn="false" output="screen" required="true"/>


</launch>